{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="card mb-4">
      <div class="card-body">
          <h2 class="card-title">Archive</h2>
          <strong><p><a  href="{% static "thewayahead.pdf" %}"> DWOSL The Way Ahead </a></strong>
            Information document for Special General Meeting, September 2014. On how the DWOSL
            has evolved and where it will go from here. </p>
          <strong><p><a  href="{% static "businessbrochure3a3a.pdf" %}"> ESCO Service Contract </a></strong>
          <strong><p><a  href="{% static "firewoodleaflet.pdf" %}"> DWOSL The Way Ahead </a></strong>
            Information about different types of Firewood, e.g. Hardwood vs. Softwood; Dry vs.
            Wet Wood and different Burners.  </p>

          <h3>Newsletters</h3>
        <strong><p><a href="%static "dwoslnewsletterjan20166.pdf" %}">Winter 2015/2016</a></strong>
         Newsletter DWOSL Winter 2015/2016, Foliage Sample, Timber Measurement, Items for sale</p>
        <strong><p><a href="%static "newsletterspring20151.pdf" %}">Spring 2015</a></strong>
         Overview and DWOSL Submission to the new Forestry Programme 2014-2020; Acidification
         and other problems with planting in the hills; Watching Paint Dry; Freedom to Plant Trees and Grow; Upcoming Events</p>
        <strong><p><a href="%static "autumn2013.pdf" %}">Autumn 2013</a></strong>
         Autumn Field Day at Sallows, Topics include: First Thinnings, Wood Energy, Gasifier Project, Continuous Cover Forestry,
         Timber Security and High Altitude - Low Yield Class Forestry.;A tribute to the memory of Mr. Clive Evans; Laghy Nursing
         Home  LOPPER Wood Gasification Boiler installation; Permanent Cover Forestry (PCF); TIMBER STOLEN; Hazel an introduction</p>
        <strong><p><a href="%static "newsletterspring2012.pdf" %}">Spring 2012</a></strong>
         DWOSL AGM, LEADER and WOOD ENERGY Update; Chairman's Message:2012  For Growth and Jobs let Farm Forestry flourish NOW; DWOSL
         LEADER Project 2012; ESCO Update; Results from our visit to this years Irish Ploughing Championship; What is Continuous Cover
         Forestry?; VEGETABLE OIL FOR LUBRICATING CHAIN SAWS; Members Corner: Stolen Timber.</p>
        <strong><p><a href="%static "newsletterautumn20112.pdf" %}">Summer/Autumn 2011</a></strong>
         Chairmans message; Fast Track Farm Forestry Now; Fire risk in upland areas; Foliage sampling; Chain Saw Safety: No Tricks;
         Forecast Workshop; How to measure a timber stack; Energy Crop Report launched at Donegal Woodland Energy Workshop; Upland
         Management; Wind Damage to Leaves; Fire for a Queen; Upcoming Field Days</p>
        <strong><p><a href="%static "finalnewsletterspring20111.pdf" %}">Spring 2011</a></strong>
          Report from DWOSL AGM 2011; Elected Committee Members 2011; ESCo Update; Firewood; Thoughts on Forest Fires; Enclosing
          and Extinguishing a Forest Fire; My Experiences with a Forest Fire; Wildlife Survey; Upcoming Events</p>
        <strong><p><a href="%static "newsletterwinter20102.pdf" %}">Winter 2010</a></strong>
          Chairmans Message: Farm Forestry demands growth and fair play; Wood Energy Study Tour 2010; Should the DWOSL enter the
          ESCo Market; TEAGASC Growers Group Conference - Cooperation to Compete; Get Thinning in 7 Steps; Members Corner: Diversivication;
          Biodiversity in Conifer Woodlands</p>
        <strong><p><a href="%static "newsletterspring20102.pdf" %}">Spring 2010</a></strong>
          AGM 2010, Available Services to Members, Forest Fires - Environmental Inferno and Irish stupidity, Irish Forestry - a (very)
          brief history, The interactions of wildlife and woodlands: Challenges facing woodland owners in Donegal, Upcoming Events
          </p>
        <strong><p><a href="%static "newsletterautumn20091.pdf" %}">Autumn 2009</a></strong>
          Chairman’s Message; COMMITTEE 2009 - 2010; The Inventory Project; Swedish Forestry Fair Study Trip
        </p>
        <strong><p><a href="%static "newslettersummer2009.pdf" %}">Spring/Summer 2009</a></strong>
          Study:Developing a stand-level inventory; Fire - A Risk That Concerns us All; Woodlands - Access and Litter
        </p>
        <strong><p><a href="%static "newsletterwinter2008.pdf" %}">Winter 2008</a></strong>
          Budget 2009; Firewood for profit and heat; Timber: Producer and End-user -from planting trees to building houses;
          Nutrient deficiencies and foliar sampling;
        </p>
        <strong><p><a href="%static "newsletterautumn20081.pdf" %}">Winter 2015/2016</a></strong>
          First Committee Elected; Official Launch 28 June 2008; Membership; A Guide to Inspection Paths; Update on forestry grant schemes
        </p>
        <strong><p><a href="%static "businesstriptoblackforestingermany.pdf" %}">Donegal Woodland Owners Business Trip to Black Forest, Germany 2012</a></strong>
        </p>
        <strong><p><a href="%static "fielddayatsallows1.pdf" %}">Field Day Report, Sallows near Frosses, 2013. </a></strong>
          First thinnings in Sitka Spruce with aim to move to CCF System
        </p>
        <strong><p><a href="%static "forestfungiarticleforweb1.pdf" %}">Forest Fungi in Ireland</a></strong>
          Seminar Report – August 2009 by Meike Siebel
        </p>
        <strong><p><a href="%static "deerarticlepart1forweb1.pdf" %}">Introduction to Deer and Deer Management in Ireland</a></strong>
          Identification, Economic factors and Conservation issues
        </p>
        <strong><p><a href="%static "raslreswp3woodenergystudytourreportoct2010v1doc.pdf" %}"> RASLRES - Wood Energy Study Tour Report 2010  </a></strong>
          Highlands & Islands Region, Scotland
        </p>
        <strong><p><a href="%static "teagascsilviculturalguidelinesbroadleaves1.pdf" %}">Teagasc Tending and Thinning of Broadleaves</a></strong>
          Recommendations for the tending and thinning of:Ash, Sycamore, Alder, Norway Maple, Oak and Beech.
        </p>
        <strong><p><a href="%static "infoleaflet.pdf" %}">2013 Wood Works Training Course</a></strong>
           An intensive 6 month introduction to all aspects of woodland and forestry employment.
        </p>

      </div>
  </div>



{% endblock %}
