{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">

  <div class="row">
    <div class="card mb-4  mt-3 left  top">
      <div class="card-body">
        <h3>{{ event.title }}</h3>
        <p class=" text-muted"> {{ event.day }}</p>
        <p class="card-text ">{{ event.content | safe }}</p>
        <img src="{% static  event.image.url|default_if_none:'uploaded_images/default_woodland.jpg'  %}" alt="{{ post.title }}" style="width: 100%; height: auto;" " >

      </div>
    </div>

  </div>
</div>

{% endblock content %}

{% block sidebar %}

<div class="card  my-4">
        <h5 class="card-header">Latest News </h5>
    <div class="card-body">
        <p class="card-text"> {{ newsest_news.title }} </p>
        <p class="card-text">{{newsest_news.content|truncatechars_html:100|safe }}</p>


        <a href="{% url 'news' %}" class="btn">Read More &rarr;</a>
    </div>
</div>
    <div class="card  my-4">
            <h5 class="card-header">Latest Event </h5>
        <div class="card-body">
            <p class="card-text"> {{ first_event.title }} </p>
            <p class="card-text"> {{ first_event.content|truncatechars_html:100|safe }} </p>

            <a href="{% url 'events' %}" class="btn">Read More &rarr;</a>
        </div>
    </div>

{%endblock%}
