{% extends "base.html" %}
{% load static %}
{% block content %}

{% load staticfiles %}
    {% for event in event_posts %}
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">{{ event.title }}</h3>
            <p class="card-text text-muted h6"> {{ event.day}} </p>
            <p class="card-text">{{event.content|truncatechars_html:200|safe }}</p>
            <a href="{% url 'event_detail' event.slug  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
    </div>
    {% endfor %}

{%endblock%}
{% block sidebar %}

<div class="card  my-4">
        <h5 class="card-header">Latest News </h5>
    <div class="card-body">
        <p class="card-text"> {{ newsest_news.title }} </p>
        <p class="card-text">{{newsest_news.content|truncatechars_html:100|safe }}</p>


        <a href="{% url 'news' %}" class="btn">Read More &rarr;</a>
    </div>
</div>


{%endblock%}
